<section class="trust_sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 class="about-title">{{title}}</h1>
                <div [innerHTML]="content"></div>
            </div>
        </div>

    </div>
</section>