.container {
    width: 100%;
    max-width: 1200px;
}

// CHECKOUT HEADING
.payment_heading {
    font-size: 20px;
}

.step_1 {
    border: 1px solid #B5B5B5;
    border-radius: 4px;
    margin-bottom: 10px;
}

.step_one {
    //    border: 1px solid #ececec;
    //    border-radius: 3px;
    //    padding: 20px;
        margin-top: 15px;
        overflow: hidden;
        border-bottom: 1px solid lightgrey;
}

.step_one h2 {
    font-size: 17px;
    margin-bottom: 12px;
}

.payment_btn {
    padding: 10px 20px;
    background-color: white;
}

.payment_btn p {
    font-size: 13px;
}

.payment_btn span {
    margin-right: 5px;
    color: #0747A6;
}

.payment_btn_new {
    margin-bottom: none;
}

.step_2 {
    border: none !important;
    border-radius: none !important;
}

.card {
    float: left;
    margin-right: 22px;
}

.card img {
    // width: 52px;
    // padding-bottom: 15px;

    //5th MAY 2021    
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card_info h1 {
    font-size: 14px;
    // margin-top: 18px;
    font-weight: 600;
    color: #0747A6;
}

.row-with-divider.request-summary.request-summary1 {
    border: 1px solid #B5B5B5;
    border-radius: 4px;

}

.braintree-dropin {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    margin: 0px;
    margin-top: 10px;
    min-width: 200px;
    padding: 0;
}

.h4, h4 {
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .rental_cart.row {
    font-size: 20px !important;
    margin-left: 0px !important;
    }

    .search_sec, .cart_sec {
        margin-top: 57px !important;
    }

    .back_cartpage {
        margin-top: 58px !important;
    }
}

.checkbox_sec {
    font-size: 13px;
    margin-bottom: 30px;
}

.security_text {
    padding: 0px;
    font-weight: bolder;
    padding-top: 0px;
}

.please_wait {
    margin-top: 20px;
}

.payment_success {
    margin-top: 20px;
}

.process_order {
    margin-top: 20px;
    margin-bottom: 20px;
}

.braintree-sheet__content--form .braintree-form__field-group .braintree-form__field .braintree-form__hosted-field input.braintree-form__raw-input:focus {
    outline: none;
    border: none !important;
}

.book-button {
    border-radius: 0.1875em;
    background: #0747A6;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 1.75em 0;
    padding: 0 1.5em;
    padding-bottom: 0px;
    padding-bottom: 4px;
    height: 2.625em;
    border: none !important;
    display: table;
    line-height: 2.625em;
    font-size: 22px;
    height: 50px;
    line-height: 24px;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-top: 50px;
    width: 100%;
    &:hover {
        background: #0065FF;
    }
}

/*--thank you pop starts here--*/
.thank-you-pop{
    width:100%;
    // padding:20px;
    text-align:center;
}
.thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.thank-you-pop h1{
    font-size: 36px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.thank-you-pop p{
    font-size: 20px;
    margin-bottom: 27px;
    color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
    font-size: 25px;
    margin-bottom: 40px;
    color:#222;
    display:inline-block;
    text-align:center;
    padding:10px 20px;
    border:2px dashed #222;
    clear:both;
    font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
    color:#03A9F4;
}
.thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/
