.scroll-to-top {
    background: #0747A6;
    color: white;
    padding: 7px 20px 12px;
    border: none;
    cursor: pointer;
    border-radius: 60px;
    font-size: 22px;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 999;
}

.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}

ul.dropdown-menu.sub_drop {
    position: relative !important;
    left: 0px;
    border: none;
    box-shadow: none;
    padding: 0px 0px;
    width: 298px;
}

ul.dropdown-menu.sub_drop li a {
    color: #989898;
    letter-spacing: 0;
    font-weight: normal;
    border-bottom: 1px solid #f5f5f5;
    padding: 12px 46px;
}

.search_two_result {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 99;
    max-height: 300px;
    overflow-x: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.search_two_result li {
    font-size: 1.3rem;
    padding: 10px 8px;
    cursor: pointer;
    line-height: 17px;
    color: rgba(68, 68, 68, 0.88);
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
}

.search_two_result li i {
    margin: 0px 5px;
    color: #828282;
}

.search_two_result li:hover {
    background: rgba(204, 204, 204, 0.29);
    color: #0747A6;
    font-weight: 600;
}

.dropdown.menuDrop button {
    background: transparent;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 19px;
    margin:12px 0px 10px;
    width: 17px;
}
a.withCount {
    padding: 15px 7px !important;
    cursor: pointer;
}
.menuDrop .dropdown-menu.animate {
    border: none;
    background-color: rgba(51, 51, 51, 0.8);
    width: 15px;
    top: 59px;
}

.menuDrop .dropdown-menu li a {
    letter-spacing: 0px !important;
    color: #fff !important;
    padding: 12px 15px !important;
    font-size: 15px !important;
    font-weight: normal !important;
}

.menuDrop .dropdown-menu li a:hover {
    background: #0747A6 !important;
}

.menuDrop .dropdown-menu {
    padding: 0;
}

.navbar-menu {
    right: 0px;
}