<body>
    <a [ngClass]="{'show-scroll': navIsFixed}" (click)="scrollToTop()" title="Back to top" class="scroll-to-top">↑</a>
    <!--  fixed nav  -->
    <!--slider-nav bar-->
    <section *ngIf="global.showHeader" class="slider-nav-section top_nav navbar-fixed-top">
        <!-- <div class="navbar navbar-inverse navbar-static-top nav-bar-menu hidden-lg hidden-md hidden-sm">
              <div class="navbar-header">
                 <a class="navbar-brand" routerLink="/">
                    <div class="logo animated bounceInDown">
                       <img src="assets/images/logo.png" class="img-responsive">
                    </div>
                 </a>
              </div>
              <nav class="navbar navbar-fixed-left navbar-minimal animate {{ navMenuClass[0]  ? 'open' : '' }}" role="navigation">
                 <div (click)="toggleNavMenu(0)" class="navbar-toggler animate">
                    <span class="menu-icon"></span>
                 </div>
                 <ul class=" navbar-menu animate">
                    <li>
                       <form class="example" action="/action_page.php">
                          <div class="btn-group caragory_search">
                             <a class="btn dropdown-toggle header_show_icon" data-toggle="dropdown" href="#">
                             <img width="20px" src="assets/images/menu-bars.svg">
                             <i class="fa fa-angle-down" aria-hidden="true"></i>
                             </a>
                             <ul class="dropdown-menu header_cat">
                                <li>
                                   <a class="cat_icon" href="assets/images/menu-bars.svg"><img width="20px" src="assets/images/menu-bars.svg"> All Categories
                                   </a>
                                </li>
                                <li class="dropdown-submenu">
                                   <a class="sub_show cat_icon" href="assets/images/television.svg"><img width="20px" src="assets/images/television.svg"> Antiques, Art & Collectables <i aria-hidden="true" class="fa fa-angle-down"></i> </a>
                                   <ul class="dropdown-menu sub_drop">
                                      <li><a href="javascript:void(0)">3rd level</a></li>
                                      <li><a href="javascript:void(0)">3rd level</a></li>
                                   </ul>
                                </li>
                                <li>
                                   <a class="cat_icon" href="assets/images/objective.svg"><img width="20px" src="assets/images/objective.svg"> Kits
                                   </a>
                                </li>
                             </ul>
                          </div>
                          <div class="search_one">
                             <input type="text" placeholder="I'm looking for" name="search2">
                          </div>
                          <div class="search_two">
                             <i class="fa fa-map-marker"></i>
                             <input type="text" placeholder="Australia" name="search2" class="no_round">
                          </div>
                          <button type="submit" (click)="goToSearchPage()">
                          <i class="fa fa-search"></i>
                          </button>
                       </form>
                    </li>
                    <li>
                       <a routerLink="/">Home</a>
                    </li>
                    <li>
                       <a [routerLink]="['faq']">FAQ</a>
                    </li>
                    <li *ngIf="auth.isLoggedIn">
                       <a [routerLink]="['profile']">Profile</a>
                    </li>
                    <li *ngIf="auth.isLoggedIn">
                       <a (click)="logout()">Sign Out</a>
                    </li>
                    <li>
                       <a *ngIf="auth.isLoggedIn">
                       <span (click)="goToCart()">
                       <i class="fa fa-cart-plus addtocart">1</i>
                       </span>Cart</a>
                    </li>
                    <li *ngIf="auth.isLoggedIn" class="list_gear">
                       <a [routerLinkActive]="['active']" routerLink="/gear/gear-list">
                       List your Gear
                       </a>
                    </li>
                    <li *ngIf="!auth.isLoggedIn">
                       <a [routerLinkActive]="['active']" routerLink="/login">Sign In </a>
                    </li>

                    <li *ngIf="!auth.isLoggedIn">
                       <a [routerLinkActive]="['active']" routerLink="/sign-up">Join Now</a>
                    </li>
                 </ul>
              </nav>
           </div> -->
        <div class="navbar navbar-inverse navbar-static-top nav-bar-menu">
            <div class="navbar-header">
                <div class="dropdown menuDrop animate">
                    <button class="dropdown-toggle animate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu animate userView" aria-labelledby="dropdownMenuButton">
                        <ul>
                            <li><a routerLink="/" style="text-transform: none;">Home</a></li>
                            <li><a [routerLink]="['faq']" style="text-transform: none;">FAQ</a></li>
                            <li><a [routerLink]="['contact-us']" style="text-transform: none;">Contact Us</a></li>
                            <!--<li><a href="#" style="text-transform: none;">Blog</a></li>-->
                        </ul>
                    </div>
                </div>
                <!-- <li class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </li> -->
                <a class="navbar-brand" routerLink="/">
                    <div class="logo animated bounceInDown">
                        <img src="assets/images/logo.png" class="img-responsive">
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse in mView">
                <div class="col-sm-5  col-md-5 col-lg-7 mViewSearch">
                    <form class="example" action="/action_page.php">
                        <div [ngClass]="{'open': openAllCategories}" #insideElement class="btn-group caragory_search">
                            <a class="btn dropdown-toggle header_show_icon" (click)="toggleAllCategoryMenu()" href="#">
                                <img width="20px" src="assets/images/menu-bars.svg">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu header_cat">
                                <li>
                                    <a class="cat_icon" href="assets/images/menu-bars.svg" (click)="goToSearchPage()">
                                        <img width="20px" src="assets/images/menu-bars.svg"> All Categories
                                    </a>
                                </li>
                                <li class="dropdown-submenu" *ngFor="let header_cat of header_cat_list_array" (click)="toggleClass(header_cat)" [ngClass]="{'open': header_cat.open}">
                                    <a class="sub_show cat_icon" href="javascript:void(0);">
                                        <span (click)="chooseHeaderCat(header_cat.gear_category_id, header_cat.gear_category_name)">{{header_cat.gear_category_name}}</span>
                                        <i aria-hidden="true" class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu sub_drop">
                                        <li *ngFor="let sub_cat of header_cat.gear_sub_category">
                                            <a href="javascript:void(0);" (click)="chooseHeaderSubCat(sub_cat.gear_sub_category_id, sub_cat.gear_sub_category_name)">{{sub_cat.gear_sub_category_name}}</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="search_one">
                            <input [(ngModel)]="search" type="text" placeholder="I'm looking for..." name="search">
                        </div>
                        <!-- <div class="search_two">
                          <i class="fa fa-map-marker"></i>

                          <mat-form-field class="example-full-width">

                            <input matInput placeholder="Enter location" class="no_round" [matAutocomplete]="auto" formControlName='userInput' value="Australia">

                          </mat-form-field>

                          </div> -->
                        <div class="search_two">
                            <i class="fa fa-map-marker"></i>
                            <input type="text" placeholder="Australia" autocomplete="off" [(ngModel)]="search2" name="search2" class="no_round" (keyup)="onSearchKey($event)">
                            <!-- search reslult here -->
                            <ul class="search_two_result" *ngIf="is_search_location_available">
                                <li *ngFor="let item of header_location_search_array" (click)="onClickLocationSearch(item)"><a href="javascript:void(0);"><i class="fa fa-map-marker"></i> {{item}}</a></li>
                            </ul>
                        </div>
                        <button type="submit" (click)="goToSearchPage()">
                            <i class="fa fa-search"></i>
                        </button>
                        <!--<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>

                          <ng-container *ngIf="!isLoading">

                            <mat-option *ngFor="let user of filteredUsers" [value]="user">

                              <span>{{ user.name }}</span>

                              <small> | ID: {{user.id}}</small>

                            </mat-option>

                          </ng-container>

                          </mat-autocomplete>-->
                    </form>
                </div>
                <ul class="nav navbar-nav navigation navbar-right">

                    <li class="mLogo">
                        <div class="dropdown menuDrop animate">
                            <button class="dropdown-toggle animate" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu animate userView" aria-labelledby="dropdownMenuButton">
                                <ul>
                                    <li><a routerLink="/" style="text-transform: none;">Home</a></li>
                                    <li><a [routerLink]="['faq']" style="text-transform: none;">FAQ</a></li>
                                    <li><a [routerLink]="['contact-us']" style="text-transform: none;">Contact Us</a></li>
                                    <!--<li><a href="#" style="text-transform: none;">Blog</a></li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="logo_holder">
                            <a routerLink="/">
                                <img src="assets/images/logo.png" class="img-responsive">
                            </a>
                        </div>

                    </li>
                    <li *ngIf="!auth.isLoggedIn" class="mLogo">
                        <a herf="#" class="ViewSearch">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li *ngIf="!auth.isLoggedIn">
                        <a [routerLinkActive]="['active']" routerLink="/login">Sign In </a>
                    </li>
                    <li *ngIf="!auth.isLoggedIn">
                        <a [routerLinkActive]="['active']" routerLink="/sign-up">Join Now</a>
                    </li>
                    <li>
                        <a *ngIf="auth.isLoggedIn" class="withCount">
                            <span (click)="goToMessage()" class="cart">
                                <i class="fa fa-comment addtocart" aria-hidden="true"></i>
                                <span class="count" *ngIf="no_of_unread_messages > '0'">{{no_of_unread_messages}}</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a *ngIf="auth.isLoggedIn" class="withCount">
                            <span (click)="goToCart()" class="cart">
                                <i class="fa fa-cart-plus addtocart"></i>
                                <span class="count" *ngIf="no_of_cart_items > '0'">{{no_of_cart_items}}</span>
                            </span>
                        </a>
                    </li>
                    <li *ngIf="auth.isLoggedIn" class="mLogo">
                        <a herf="#" class="ViewSearch">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <nav class="navbar  navbar-minimal animate {{ navMenuClass[1] ? 'open' : '' }}" role="navigation">
                            <div *ngIf="auth.isLoggedIn" (click)="toggleNavMenu(1)" class="navbar-toggler animate">
                                <img src="{{user_profile_picture_link}}" class="img-responsive profile_image">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </div>
                            <ul class=" navbar-menu animate" *ngIf="auth.isLoggedIn">
                                <li>
                                    <a [routerLink]="['rentals-dashboard']">Dashboard</a>
                                </li>
                                <li>
                                    <a [routerLink]="['profile/edit']">Settings</a>
                                </li>
                                <li>
                                    <a [routerLink]="['search']">Search Gear</a>
                                </li>
                                <li>
                                    <a [routerLink]="['my_favourites']">My Favourites</a>
                                </li>
                                <li *ngIf="auth.isLoggedIn">
                                    <a [routerLink]="['profile']">Profile</a>
                                </li>
                                <li *ngIf="auth.isLoggedIn">
                                    <a (click)="logout()">Sign Out</a>
                                </li>
                            </ul>
                        </nav>
                    </li>
                    <li *ngIf="auth.isLoggedIn" class="list_gear">
                        <a [routerLinkActive]="['active']" routerLink="/gear/gear-list">
                            List your Gear
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>