.row {
    margin-top: 50px;
}

.reply_btn {
    width: 140px;
    align-items: center;
    background-color: #0747A6;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 1.4em;
    transition: all .25s;
    border-radius: 4px;
    color: #fff !important;
    margin-top: 20px;
    height: 44px;
    display: flex;
    font: 700 1.3rem "Lato", sans-serif;
    justify-content: center;
    border: none;
    padding: 0;
    &:hover {
        background-color: #0065FF;
    }
}

.form-group {
    padding-top: 23px;
}

.row  {
    justify-content: center;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
}

p {
    font-weight: 100;

}