
:host {
	position: relative;
	font-size: 0.80rem;
	width: auto;
	line-height: 1.3;
	li {
    margin-top: 5px;
    display: inline-block;
    color: #721c24;
    font-size: 1.25rem;
    text-align: right;
    width: 100%;
	}
	&.floating-error-msg{
		float: left;
		width: 300px;
	}
}
