.container {
    max-width: 1200px;
    width: 100%;
}

section.trust_sec {
    padding: 30px 0px;
}

section.trust_sec h1 {
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
        padding: 0 50px 0 50px;
    }
}