:host {
  display: block;

    // margin-top: 10px;
    // border: 2px solid #0747A6;
    // border-radius: 5px;
    // margin-bottom: 2rem;
    // &.inactive {
    //   opacity: 0.5;
    //   pointer-events: none;
    // }
}

.border-box {
  padding: 0 0 0 0;
}

.box {
  display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin-top: 10px;
    border: 2px solid #0747A6;
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: white;;
    &.inactive {
      opacity: 0.5;
      pointer-events: none;
    }
}

.mob-box {
  place-content: center;
  display: block;
}

.nameBox {
  display: flex;
  flex-flow: column wrap;
  font-size: 14px;
}

.status {
  .row {
    display: flex;
    align-items: center;
  }
  .label {
    color: #e3e3e3;
  }
}

.value {
  color: #014c72;
    margin: 0 10px;
    font-weight: bold;
}

.triggerImageModal {
  background: transparent;
  border: none;
  font-weight: bold;
  padding-right: 5px;
  font-size: 14px;
  color: #141414;
}

.row, .status {
  margin-left: auto;
}

.status {
  margin-right: 5rem;
  font-size: 14px;;
}
/*
@media only screen and (max-width: 767px) {
  .status {
    margin-right: 1rem;
    font-size: 14px;;
  }
}
*/

@media only screen and (max-width: 869px) {
  .status {
    margin-right: 1rem;
    font-size: 14px;;
  }
}

.modal-content {
  width: fit-content;
}
.pos_rel{
  position:relative;
}
.pos_rel .cross-abs{  
    position: absolute;
    padding: 2px 0px 0px 0px;
    right: -10px;
    top: -10px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    //box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px 0px;
}


