.search{
  min-height: 800px;
  @media (max-height: 850px) {
    min-height: 600px;
  }
  padding: 0;
}

.results-wrapper{
  display: grid;
  //grid-gap: 1rem;
  @media (max-width: 767px) {
    grid-template-columns: 1fr 0;
  }
  @media (min-width: 768px) and (max-width: 1175px) {
    grid-template-columns: 50% 50%;
  }
  @media (min-width: 1176px) {
    grid-template-columns: 2fr 1fr;
  }
}

.map-visible{
  @media (max-width: 767px) {
    //display: block;
    grid-template-columns: 0 1fr;
    grid-gap: 0;
  }
}

.map-toggle{
  background: white;
  border: 1px solid #B5B5B5;
  border-radius: 50%;
  position: fixed;
  margin: 0;
  padding: 0;
//  left: 22px;
//  top: 30vh;
  // right: 5vw; //OLD
  // top: calc(100vh - 26%); //OLD
  z-index: 11;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  margin-bottom: env(safe-area-inset-bottom) !important; //AIRBNB
  bottom: 20px; //AIRBNB
  right: 15px; //AIRBNB
  @media (min-width: 768px) {
    display: none;
    
  }
}

.map-toggle-icon {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  font-size: 37px;
  padding: 11px;
}

.mat-icon.icon-white {
  color: rgb(105, 107, 130);
}