.search_wrapper {
  overflow-y: scroll;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 999;
}

header {
  background: #21222f;
  text-align: center;
  color: white;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  button {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

button.search {
  width: 100%;
    background-color: #0747A6;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    border-radius: 3px;
    outline: 0;

    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.search_block {
  display: flex;
  align-items: center;
  background: white;
}
