.image-box {
  width: 100px;
  height: 100px;
  img {
    width: 100%;
    height: 100%;
  }
}

.dropbox {
  margin: 15px 0px 0px 0px;
  // padding: 10px 0 0 0;
  button {
    border: none;
  }
}

.choose-file {
  background-color: white;
}

.ngx-file-drop__drop-zone-label {
  padding: 10px;
}


.inputfile + label,
.dropbox label {
  max-width: 100%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

// .inputfile + label * {
//   pointer-events: none;
//   /* in case of FastClick lib use */
// }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label svg,
.dropbox label svg{
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


/* style 1 */

.inputfile-1 + label,
.dropbox label {
  color: #fff;
  background-color: #0747A6;
  height: 40px;
  border-radius: 5px;
  padding-top: 10px;
  &:hover {
    background-color: #0d77da;
  }
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #0d77da !important;
}

.file-upload {
  display: flex;
  align-items: center;
  float: left;
  .content {
    width: 100%;
  }
}

small {
  margin-right: 30px;
  margin-left: 30px;
}

.fa-file {
  font-size: 50px;
  color: #0065FF;
  padding: 2.5rem 0px 0px 02.5rem;
}