:host {
  max-width: 300px;
  display: block;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  background: white;
  border-radius: 0.375rem;
}

header {
  a {
    display: block;
    img {
      max-height: none;
      width: 100%;
      height: 245px;
      object-fit: contain;
    }
  }
}

.price_slab {
  color: #8898aa;
  font-size: 1.35rem;
}

span.avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #525f7f;
  padding: 3px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.name {
  color: #8898aa;
  font-size: 1.65rem;
}

h3 {
  color: #32325d;
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  margin-bottom: 5px;
}


.name_wrapper {
  display: flex;
    flex-flow: column;
}

.profile_link {
  display: flex;
    align-items: center;
}

.avatar {
  margin-right: 5px;
}

.avatar_block {
  display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
  margin-top: 15px;
}

.description {
  padding: 1.5rem;
}
