:host {
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  display: block;
  margin-bottom: 20px;
  padding: 2rem;
  border-radius: 3px;
}
h3 {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 400;



  a {
    color: #000;
    font-family: system-ui;
    font-size: 16px;
    &:hover {
      color: #0747A6;
    }
  }
}

.avatar {
  margin-right: 10px;
  img {
    width: 50px;
    height: 50px;
    // border-radius: 50%;
    border-radius: 4px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 10px;
}

.owner-description {
  margin: 10px 10px 0 10px;
  font-family: system-ui;
}

@media (max-width:767px) {
  .owner-description {
    font-size: 12px;
  }
}

.desc {
  margin: 1rem 0;
  font-size: 14px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .desc {
    font-size: 12px;
  }
}

.rating_slab {
  display: flex;
  align-items: center;
  strong {
    font-size: 1.5rem;
    margin-right: 10px;
  }

}

.contact-owner {
  align-items: center;
  background-color: #0747A6;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .05em;
  line-height: 1.4em;
  margin-top: 0px;
  padding: 8px 10px;
  transition: all .25s;
  border-radius: 4px;
  color: #fff !important;
  margin-top: 20px;
  width: 100%;
  height: 44px;
  border: none !important;
  outline: none;
  &:hover {
      align-items: center;
      background-color: #0065FF;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: .05em;
      line-height: 1.4em;
      margin-top: 0px;
      padding: 8px 10px;
      transition: all .25s;
      border-radius: 4px;
      color: #fff !important;
      margin-top: 20px;
      width: 100%;
      height: 44px;
  }
}