#panel  {
    display: flex;
    flex-direction: column;
    // width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-sizing: border-box;
    color: rgb(94, 108, 132);
    margin: 0px auto 24px;
    // padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
  
  #panel h2 {
    padding: 0;
    margin-bottom: 23px;
    margin-top: 11px;
    font-size: 20px;
    color: #455a64;
    color: rgb(94, 108, 132);
    text-align: center;
  }

  .resetpass-btn {
    font-size: 14px;
    // padding: 14px 12px;
    height: 40px;
    width: 100%;
    background: rgb(0, 82, 204);
    color: white;
    &:hover {
        background: #0033CC;
    }
  }