.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

// .right-column {
//   padding: 0;
// }

.dashboard_bodynew {
  margin: 0;
}
.fixed-pos {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.photo_panel {
  margin: 0;
}

.profile-image {
  padding: 0;
}

.profileSettings {
  padding-left: 30px;
  margin: auto;
  max-width: 1200px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.profile-description {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.profile-information {
  padding: 0px;
}

.contact_info_heading h2 {
  font-size: 30px;
  /* border-bottom: 2px solid; */
  padding: 15px 0px !important;
  margin-bottom: 6px;
}

.container-contact100 .box_shadow_form {
  padding: 10px;
}

.box_shadow_form {
  padding: 0px !important;
  display: inline-block;
  width: 100%;
}

.photo_info {
  padding-bottom: 20px;
}

.image_header {
  margin: 0;
}

.image_info {
  font-size: 13px;
}

.SaveProfile {
  float: right;
  background-color: #0052CC;
  color: #fff !important;
  padding: 11px 19px;
  &:hover {
      background-color: #0065FF;
  }
}  

@media screen and (max-width:691px) {
  .profileSettings {
      // width: none;
      // padding-left: 0px !important;
      // margin: auto;
      // text-align: center;
      h3 {
        font-size: 18px;
      }
  }
  button.btn.btn-default {
    width: 112px !important;
  }
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  // padding: 0 10px 0 10px;

.contact100-form {
  padding: 10px !important;
}

}
input {
  // border: 1px solid #ccc !important;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
}

input.form-control {
  box-shadow: none !important;
  // border: 1px solid #ccc !important;
  border: 1px solid #ccc;
  text-transform: none;
  height: 40px;
  // &:focus {
  //   border: 2px solid #0065FF !important;
  // }
}

 /* .ngx-select__toggle.btn.form-control {
 /*  background-color: white !important;

} */

.form-control {
  text-transform: none;
}

.title_slab {
  box-shadow: 0 0 14px rgba(158,158,158,.92);
  padding: 18px;
  font-size: 20px;
  margin-bottom: 25px;
  .container {
    padding-left: 0;
  }
}

.row.ctrl-2 {
  display: flex;
  .form-group {
    flex: 0 0 49%;
    &:nth-child(1) {
      margin-right: 2%;
    }

  }
}

.row {
  margin-bottom: 2rem;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.m-t-90 {
  margin-top: 90px;

}

.light {
  font-size: 1.4rem;
  margin-top: 8px;
  color: grey;
}

.form-ctrl {
  margin-top: 8px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 3px;
  background: transparent;
}

.tech_spec_box {
  border: 1px solid #ccc;
  text-align: center;
  max-width: 200px;
  padding-bottom: 20px;
  border-radius: 9px;
}
.gearbox {
  margin-bottom: 2rem;
}

@media all and (min-width: 50em ) {
  .gearbox {
    display: flex;
    align-items: flex-start;
  }
  .gear_form {
    flex: 1 1 500px;
    margin-right: 50px;
  }

  .tech_spec_box {
    flex: 0 0 200px;
  }
}

.form-group{
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background: #0747A6;
  }

 }

 .ctrl-3 {
   display: flex;
   .form-group {
    flex: 1 1 32%;
    &:nth-child(2) {
      margin: 0 2%;
    }
   }
 }

 input[type="checkbox"] {
  //  margin-left: 0;
  margin: 0;
 }

 .row-wrap {
   flex-flow: row wrap;
   input {
    //  width: auto; //CHANGE THE SIZE OF CHECKBOX
    //  height: auto; //CHANGE THE SIZE OF CHECKBOX
     width: 20px;
     height: 20px;
   }
   label {
     color: #131313;
     margin-left: 10px;
   }
 }

 @media all and (max-width: 47.9375em) {
  .row.ctrl-2 .form-group:nth-child(1) {
    margin-right: 0;
  }

  .ctrl-3 .form-group:nth-child(2) {
    margin: 0 0 15px 0;
  }

 }

 .form-group {
  position: relative;
  .highlight-input {
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #0747A6;
    bottom: 0;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  & input:focus {
    & + .highlight-input {
      width: 100%;
    }
    & ~ .highlight-input {
      width: 100%;
    }
  }
}

.notification_panrl input:focus ~ label, input:valid ~ label {
  text-transform: none;
}

.btn-default {
  margin: 0px;
  background-image: none !important;
  border: none !important;
  border-style: none !important;
  border-color: none!important;
  border-width: 1px !important;
  text-shadow: none !important;
}

.upload_btns {
  height: 40px;
  // padding: 10px 15px;
  float: left;
    background: #0747a6;
    color: #fff !important;
    font-size: 14px;
    position: relative;
    top: 64px;
    text-transform: none;
    font-weight: 400;
    padding: 8px 15px;
    cursor: pointer;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 767px) {
    .upload_btns {
      float: right;
    }
    .photo-panel {
      margin: 0;
    }
    .photo_frame {
      margin-right: 0;
    }
}

// label {
//   padding-left: 5px;
// }

.img-responsive {
  width: -webkit-fill-available;
  object-fit: cover;
  // height: 100%;
  width: 150px;
  height: 150px;
}

.space-2 {
  // height: 100%;
  width: 150px;
  height: 150px;
}

.ProfileImage-Upload {
  padding-right: 5px;
  font-size: 20px;
}