.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 40px 0 40px;
    text-align: center;
}

// @media (max-width: 767px) {
//     .container {
//         text-align: center;
//     }
// }

.application-footer {
    background-color: #0a1633;
    // background-color: #212230;
}

.footer-container {
    margin: 10px;
}