.row {
    justify-content: center;
    margin: 0 0 0 0;
}

.confirmationView {
    text-align: center;
    margin: 60px 0px;
    justify-content: center;
}

/* img {
    height: 40px;
    width: 40px;
} */

.confirmationView p {
    font-size: 16px;
    color: #243a4f;
    margin: 20px 0px;
}

.confirm-header {
    font-size: 50px !important;
}

.confirm-button {
    background-color: #0747A6;
    color: #fff;
    display: inline-block;
    padding: 10px 42px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 30px;
    &:hover {
        background-color: #0065FF ;
    }
}