.map-container{
  position: fixed;
  height: 100%;
  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1175px) {
    max-width: 50%;
    width: 50%;
  }
  @media (min-width: 1176px) {
    max-width: 33%;
    width: 33%;
  }
}

.visible{
  visibility: visible;
  @media (max-width: 768px) {
    z-index: 8;
    display: block;
  }
}

.map-wrapper {
  width: inherit;
  height: 100%;
}

agm-map {
  width: 100%;
  height: 800px;
  @media (max-height: 850px){
    height: 600px;
  }
}
