.sign_background .login_background {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.container {
  width: 100%;
}

#panel {
  display: flex;
  flex-direction: column;
  // width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  box-sizing: border-box;
  color: rgb(94, 108, 132);
  margin: 0px auto 24px;
  // padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
}

#panel h2 {
  padding: 0;
  margin-bottom: 23px;
  margin-top: 11px;
  font-size: 20px;
  color: #455a64;
  color: rgb(94, 108, 132);
  text-align: center;
}

.sign_background input {
  font-size: 18px;
  // padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: transparent;
  height: 40px;
  padding: 0 0px 0 10px;
  &:focus {
    border: 1px solid #0065ff;
  }
}

.input-label {
  color: darkgrey;
  padding: 0;
}

.auth-box {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.remember {
  display: flex;
  flex-flow: row wrap;
  left: 5px;
}

.remember input {
  flex: 0 0 20px;
  margin: 0;
  margin-right: 12px;
}

.remember label {
  position: relative !important;
  top: 12px !important;
  left: 0 !important;
}

.text-info {
  font-weight: 500;
  color: #0065ff !important;
  &:hover {
    color: #0747a6;
  }
  &:focus {
    color: #0747a6;
  }
  &:active {
    color: #0747a6;
  }
}

.notification_panrl input:focus ~ label,
input:valid ~ label {
  font-size: 13px;
  color: #67757c;
  text-transform: capitalize;
  margin-left: 0;
}

.signin-btn {
  font-size: 14px;
  // padding: 14px 12px;
  height: 40px;
  width: 100%;
  background: rgb(0, 82, 204);
  color: white;
  &:hover {
    background: #0065ff;
  }
}

.or-social {
  text-align: center;
  margin: 10px 0px 10px 0;
  color: #67757c;
  font-size: 12px;
  margin: 15px 0 15px 0px;
}

.link-text {
  font-weight: 400;
}
