.container {
    width: 100%;
    max-width: 1200px;
}

input.form-control.search__input {
    height: 63px;
}

.content_area {
    margin-top: 63px;
}

.section, .faq_sec {
    padding: 15px 0;
    background: #f3f5f7;
    min-height: calc(100vh - 309px);
    height: fit-content;
}

@media (max-width: 1199px) {
    .section, .faq_sec {
        min-height: calc(100vh - 304px);
    }
}

.paper__article-preview {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
/*    border: 1px solid #d4dadf;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px); */
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    
}

.paper__preview {
    margin: 0px 0px 15px 0px;
    text-decoration: none;
    display: block;
    max-width: 630px;
    line-height: 1.4;
    font-size: 13px;
    color: #565867;
}

.h2, h2 {
    font-size: 18px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 5px 0px;
}

@media screen and (max-width:767px) {
    .paper__large {
        padding: 0px 0px 0px 15px;
    }

    .t__h1 {
        margin: 0 0 3px;
        font-size: 18px;
        font-weight: normal;
        color: #3a3c4c;
    }

    .article__desc {
        font-size: 14px;
        line-height: 1.35;
        margin-bottom: 17px;
        color: #0065FF;
    }
}