<div class="cart_sec">
    <div class="back_cartpage">
        <div class="container">
            <div class="rental_cart row">Rental Order KS00001</div>
        </div>
    </div>
    <div class="container">
        <div class="row paddingleft_right">
            <div class="myproject_details">
                <h2>Confirmed:My Project Name, Town/Suburb</h2>
            </div>
            <div class="cart-item-header">
                <b class="float-right accept_text">Accepted</b> <span class="listing-title float-left"> Booked by <strong>Renter
            Full Name</strong></span>
                <div class="clear-float"></div>
            </div>
            <div class="cart-item-header">
                <b class="float-right">KS0001</b> <span class="listing-title float-left"> Saturday,16 jan 2018</span>
                <div class="clear-float"></div>
            </div>
        </div>
        <div class="row paddingleft_right">
            <div class="col-md-6">
                <div class="row">
                    <div class="profile_sec">
                        <div class="image_sec"><img src="" alt=""></div>
                        <div class="content_sec">
                            <h3>Robert Morton</h3>
                            <p> 20517 Summer Road North Balgowlah NSW 2093 Australia +61417887114
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="profile_sec_new pull-right">
                        <ul>
                            <li>
                                <div class="pick_text">Pick up</div>
                                <div class="pick_date">25 mar 2018</div>
                            </li>
                            <li>
                                <div class="icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                            </li>
                            <li>
                                <div class="pick_text">Pick up</div>
                                <div class="pick_date">25 mar 2018</div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="edit_order">
                        <select class="cart-detail-app">
              <option value="">Edit order</option>
              <option value="damage_waiver_pro">Third Party Insurance</option>
              <option value="damage_waiver">Replacement value</option>
            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row paddingleft_right">
            <div class="details">
                <p><strong>Shoot Details</strong></p>
                <p>Here are some details from the 'Describe your Project' in Cart</p>
            </div>
            <div class="table_invoice">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Description </strong></td>
                                <td class="text-center"><strong>Quantity </strong></td>
                                <td class="text-center"><strong>Unit Price</strong></td>
                                <td class="text-right"><strong>GST</strong></td>
                                <td class="text-right"><strong>Amount AUD</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr>
                                <td>Arri MMB2 Stage Matte Box with 8 Tiffen ND/IRND filters</td>
                                <td class="text-center">1.0</td>
                                <td class="text-center">1300.00</td>
                                <td class="text-right">10%</td>
                                <td class="text-right">1300.00</td>
                            </tr>
                            <tr>
                                <td>Arri MMB2 Stage Matte Box with 8 Tiffen ND/IRND filters</td>
                                <td class="text-center">1.0</td>
                                <td class="text-center">1300.00</td>
                                <td class="text-right">10%</td>
                                <td class="text-right">1300.00</td>
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right"><strong>Subtotal</strong></td>
                                <td class="thick-line text-right">80 INR</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Discount(15%)</strong></td>
                                <td class="no-line text-right">-199.0</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right "><strong>Insurance Fee</strong></td>
                                <td class="no-line text-right">132.0</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>Community Fee</strong></td>
                                <td class="no-line text-right">67.33</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>TOTAL ex GST</strong></td>
                                <td class="no-line text-right">1,327.15</td>
                            </tr>
                            <tr>
                                <td class="no-line">
                                    <button type="button" class="btn btn-default unavailable_btn1 unavailable_btn12">Download Invoice</button>
                                </td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right"><strong>TOTAL GST 10%</strong></td>
                                <td class="no-line text-right">132.75</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-right" style="border-top:2px solid #000; font-size:20px; font-weight:bolder"><strong>TOTAL
                    AUD</strong></td>
                                <td class="no-line text-right" style="border-top:2px solid #000;  font-size:20px; font-weight:bolder">1460.24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="upload_images_sec">
                <div class="info_text_new">
                    <p><strong>Order Images and checksheet</strong></p>
                    <p> In order to provide evidence in the event of a claim, upload images that highlight the listings condition and checksheets</p>
                </div>
                <div class="upload_images_section"> <img src="assets/images/images_new.png" alt=""> </div>
                <div class="checkbox_sec">
                    Confirm your <a href="javascript:void(0)">Kit List</a>
                </div>
                <div class="security_diposit">
                    <p><strong>Security Deposit</strong></p>
                    <p class="color_text">An Owner requires a Security Deposit of $300 inc GST to book this order.The Renter is resonsible for the amount of the Security Deposit, But it will not be bcharge unless the Owner makes a claim.
                    </p>
                </div>
                <div class="cancel_rental">
                    <button type="button" class="btn btn-default unavailable_btn1 unavailable_btn12 cancel_rental_btns">Cancel
            rental</button>
                </div>
                <div class="clearfix"></div>
                <div class="help_sec">
                    <div class="help_leftside">
                        <h4><strong>Need to help?</strong></h4>
                        <p>Visit our <a href="Javascript:void(0)">FreQuently Asked Questions</a></p>
                    </div>
                    <div class="help_rightside">
                        <p><strong>KS00001</strong></p>
                        <p>Booked by Renters Name</p>
                        <p>Saturday, 16jan 2013</p>
                    </div>
                </div>
                <div class="content_sec_info">
                    <p><strong>Cancellation policy:</strong>Certain fees and taxes may be no-refundable.See<a href="#"> here </a>for more details.</p>
                    <p class="padding_top">Braintree (a PayPal company) is a limited collection agent of your Owner.This means that upon payment of the Total Fees to braintree your payment obligation to your Owner is satisfied refund requests will be processed in accordance
                        with kitshre terms and conditions.available at <a href="#">https:www.kitshare.com.au/terms</a>. Questions or complaints:contact accounts@kitshare.com.au</p>
                    <div class="headings_new">Explanation of the security Deposit</div>
                    <p class="padding_top">Owners can make a claim on their deposit within 24 hours of your drop off time or before the next renter picks up, whichever is earlier.if a claim is initiated,kitshare Customer Service will be in contact with both you and you Owner
                        to make sure both are represented fairly. Additional detilas regarding teh Security Deposit are available at<a href="#"> https://www.kitshare.com.au/FAQ</a></p>
                    <div class="headings_new">Payment processed by:</div>
                    <p> Braintree(a payPal company)</p>
                    <p> 1 york Street</p>
                    <p> Sydney</p>
                    <p> NSW 2000</p>
                    <p> Australia</p>
                    <div class="headings_new">Kitshare :</div>
                    <p> PO BOX 131</p>
                    <p> Seaforth</p>
                    <p> NSW 2092</p>
                    <p> Australia</p>
                    <p> ABN:85 623 435 709</p>
                </div>
            </div>
        </div>
    </div>
</div>