<section class="dashboard_body bckd_c">
    <div class="tabbable-line1">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_default_1" data-toggle="tab" (click)="tabClicked($event)">Rentals</a>
                </li>
                <li>
                    <a href="#tab_default_2" data-toggle="tab" (click)="tabClicked($event)">Manage listing</a>
                </li>
                <!-- <li>
                <a href="#tab_default_3" data-toggle="tab">
                View listing</a>
                </li> -->
                <li>
                    <a id="messagetab" href="#tab_default_5" data-toggle="tab" (click)="tabClicked($event)">Messaging</a>
                </li>
                <li>
                    <a href="#tab_default_4" data-toggle="tab" (click)="tabClicked($event)">Reviews</a>
                </li>
                <li>
                    <!--    <a href="#tab_default_6" data-toggle="tab">
                   References</a> -->
                </li>
            </ul>
        </div>
    </div>

    <!-- START RENTALS TAB -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 Dashboard-container">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_default_1">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="renter_owner_buttn">
                                            <!-- <button type="button" (click)="showRenterDashboard()" [ngClass]="{'btn btn_new active_btns': renter_dashboard == 'true'}">Renter</button> -->
                                            <!-- <button type="button" (click)="showMessages()" class="btn btn_new">Messages</button> -->
                                            <button type="button" (click)="showRenterDashboard()" *ngIf="!renter_dashboard" class="btn btn_new inactive_btns">Renter</button>
                                            <button type="button" (click)="showRenterDashboard()" *ngIf="renter_dashboard" class="btn btn_new active_btns">Renter</button>
                                            <button type="button" (click)="showOwnerDashboard()" *ngIf="!owner_dashboard" class="btn btn_new inactive_btns">Owner</button>
                                            <button type="button" (click)="showOwnerDashboard()" *ngIf="owner_dashboard" class="btn btn_new active_btns">Owner</button>
                                            <!--<div class="rental_dashboard10">
                                                <span>Renter</span>
                                                <span class="margin_o">
                                                <label class="switch">
                                                <input checked="" type="checkbox">
                                                <span class="slider round"></span>
                                                </label>
                                                </span>
                                                <span>Owner</span>
                                            </div>-->
                                            <select class="form-control rentyear-selector" id="sel1" (change)="onChangeYear($event.target.value)">
                                                <option *ngFor="let item of all_rental_year_array" value="{{item}}">
                                                    {{item}}</option>
                                                <!-- <option value="2018">2018</option>
                                        <option value="2019" selected>2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option> -->
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <!-- START DESKTOP SELECTION OF RENTALS TAB -->

                                    <div class="col-md-12 col-sm-12 hidden-xs">
                                        <div class="search_rental">
                                            <div class="btn-dash hidden-xs">
                                                <button (click)="getRentalList()" type="button" [ngClass]="all ? 'btn new active' : 'btn new'"><span><i class="fa fa-files-o" aria-hidden="true"></i></span>All</button>
                                                <button (click)="fetchActiveList()" type="button" [ngClass]="active ? 'btn new active' : 'btn new'"><span><i class="fa fa-bolt" aria-hidden="true"></i></span>Active</button>
                                                <button (click)="fetchCompletedList()" type="button" [ngClass]="completed ? 'btn new active' : 'btn new'"><span><i class="fa fa-check-square" aria-hidden="true"></i></span>Completed</button>
                                                <button (click)="fetchCanceledList()" type="button" [ngClass]="canceled ? 'btn new active' : 'btn new'"><span><i class="fa fa-times" aria-hidden="true"></i></span>Cancelled</button>
                                                <button (click)="fetchRejectedList()" type="button" [ngClass]="rejected ? 'btn new active' : 'btn new'"><span><i class="fa fa-ban" aria-hidden="true"></i></span>Declined</button>
                                                <button (click)="fetchArchivedList()" type="button" [ngClass]="archive ? 'btn new active' : 'btn new'"><span><i class="fa fa-archive" aria-hidden="true"></i></span>Archive</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- START MOBILE SELECTION OF RENTALS TAB -->
                                    <br>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="search_rental1">
                                            <!-- <div class="btn-dash hidden-sm hidden-md hidden-lg">
                                                    <button (click)="getRentalList()" type="button" [ngClass]="all ? 'btn new active' : 'btn new'"><span><i class="fa fa-files-o"
                                            aria-hidden="true"></i></span></button>
                                                    <button (click)="fetchActiveList()" type="button" [ngClass]="active ? 'btn new active' : 'btn new'"><span><i class="fa fa-bolt"
                                            aria-hidden="true"></i></span></button>
                                                    <button (click)="fetchCompletedList()" type="button" [ngClass]="completed ? 'btn new active' : 'btn new'"><span><i class="fa fa-check-square"
                                            aria-hidden="true"></i></span></button>
                                                    <button (click)="fetchCanceledList()" type="button" [ngClass]="canceled ? 'btn new active' : 'btn new'"><span><i class="fa fa-times"
                                            aria-hidden="true"></i></span></button>
                                                    <button (click)="fetchRejectedList()" type="button" [ngClass]="rejected ? 'btn new active' : 'btn new'"><span><i class="fa fa-ban"
                                            aria-hidden="true"></i></span></button>
                                                    <button (click)="fetchArchivedList()" type="button" [ngClass]="archive ? 'btn new active' : 'btn new'"><span><i class="fa fa-archive"
                                            aria-hidden="true"></i></span></button>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- START MOBILE VERSION OF RENTALS TAB -->

                                <div class="row hidden-sm hidden-md hidden-lg" *ngIf="!is_messaging">
                                    <div class="table-responsive points_table1">
                                        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-hover">
                                            <tbody class="new_panel1">
                                                <tr *ngFor="let item of rental_data">
                                                    <td>
                                                        <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                            <a href="javascript:void(0);" (click)="messageWith(item.renter_id, item.user_gear_desc_id, item.app_user_first_name, item.user_profile_picture_link, item.order_id, item.project_name)"><strong>Messages</strong></a>
                                                        </ul>
                                                        <p *ngIf="renter_dashboard"><a [routerLink]="[ '/order-summary', item.order_id, 'renter' ]"><strong>{{item.order_id}}</strong></a>
                                                        </p>
                                                        <p *ngIf="owner_dashboard"><a [routerLink]="[ '/order-summary', item.order_id, 'owner' ]"><strong>{{item.order_id}}</strong></a>
                                                        </p>

                                                        <p *ngIf="renter_dashboard"><strong>Owner Name:
                                                            </strong>{{item.app_user_first_name}}
                                                            {{item.app_user_last_name}}</p>
                                                        <p *ngIf="owner_dashboard"><strong>Renter Name:
                                                            </strong>{{item.app_user_first_name}}
                                                            {{item.app_user_last_name}}</p>
                                                        <p><strong>Project Name: </strong>{{item.project_name}}</p>
                                                        <p><strong>Payment Status: </strong>{{item.payment_status}}</p>
                                                        <p><strong>Order Status: </strong>{{item.order_status}}</p>
                                                        <p><strong>Cost: </strong>{{item.total_rent_amount | currency}}
                                                        </p>
                                                        <div class="">
                                                            <!-- 01<span>sep</span>
                                                 - 01<span>oct</span> -->
                                                            <strong>Dates:
                                                            </strong>{{reFormatDate(item.gear_rent_start_date) | date}}
                                                            - {{reFormatDate(item.gear_rent_end_date) | date}}
                                                        </div>
                                                        <!--  ${{item.total_rent_amount}} -->
                                                    </td>
                                                    <!--  <td style="vertical-align:top">
                                                        <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"
                                              aria-hidden="true"></span></a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                            <li class="active"><a href="#">In progress</a></li>
                                                            <li><a href="javascript:void(0);" (click)="messageWith(item.renter_id, item.user_gear_desc_id, item.app_user_first_name, item.user_profile_picture_link, item.order_id, item.project_name)">Messages</a></li> -->
                                                    <!-- <li><a href="#">Kit listing</a></li> -->
                                                    <!-- Client told to hide this for now on task list 6 -->
                                                    <!-- <li><a href="#">Delivery information</a></li> -->
                                                    <!-- <li *ngIf="renter_dashboard && item.payment_status == 'Contract'"><a (click)="seeInvoice(item.user_gear_desc_id)" href="javascript://;">Tax Invoice</a></li>
                                                        </ul>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ng-container>
                                            <pagination [totalItems]="totalItemsRental" [itemsPerPage]="limitRental" [maxSize]="5" [(ngModel)]="currentPageRental" (pageChanged)="pageChangedRental($event)" nextText=">" previousText="<" lastText=">>" firstText="<<"></pagination>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- START DESKTOP VERSION OF RENTALS TAB -->

                                <div class="row hidden-xs" *ngIf="!is_messaging">
                                    <div class="table-responsive points_table">
                                        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-hover">
                                            <thead class="new_panel">
                                                <tr>
                                                    <th>Order Number</th>
                                                    <th *ngIf="owner_dashboard">Renter Name</th>
                                                    <th *ngIf="renter_dashboard">Owner Name</th>
                                                    <th>Project Name</th>
                                                    <th>Payment Status</th>
                                                    <th>Order Status</th>
                                                    <th>Cost</th>
                                                    <th>Pickup Date</th>
                                                    <th>Return Date</th>
                                                    <!-- <th>Total Paid</th> -->
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody class="new_panel1">
                                                <tr *ngFor="let item of rental_data">
                                                    <td *ngIf="renter_dashboard"><a [routerLink]="[ '/order-summary', item.order_id, 'renter' ]">{{item.order_id}}</a>
                                                    </td>
                                                    <td *ngIf="owner_dashboard"><a [routerLink]="[ '/order-summary', item.order_id, 'owner' ]">{{item.order_id}}</a>
                                                    </td>
                                                    <td>{{item.app_user_first_name}} {{item.app_user_last_name}}</td>
                                                    <td>{{item.project_name}}</td>
                                                    <td class="payment-status">{{item.payment_status}}</td>
                                                    <td class="order-status">{{item.order_status}}</td>
                                                    <td>{{item.total_rent_amount | currency}}</td>
                                                    <td>
                                                        <div class="">
                                                            <!-- 01<span>sep</span> -->
                                                            {{reFormatDate(item.gear_rent_start_date) | date :
                                                            'mediumDate' : 'UTC'}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="">
                                                            <!-- 01<span>oct</span> -->
                                                            {{reFormatDate(item.gear_rent_end_date) | date :
                                                            'mediumDate' : 'UTC' }}
                                                        </div>
                                                    </td>
                                                    <!-- <td>${{item.total_rent_amount}}</td> -->
                                                    <td>
                                                        <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                            <!--    <li class="active"><a href="#">In progress</a></li>  -->
                                                            <li><a href="javascript:void(0);" (click)="messageWith(item.renter_id, item.user_gear_desc_id, item.app_user_first_name, item.user_profile_picture_link, item.order_id, item.project_name)"><strong>Messages</strong></a>
                                                            </li>
                                                            <!-- <li><a href="#">Kit listing</a></li> -->
                                                            <!-- Client told to hide this for now on task list 6 -->
                                                            <!-- <li><a href="#">Delivery information</a></li> -->
                                                            <!-- <li><a target="_blank" href="{{item.user_profile_picture_link}}">Invoices</a></li> -->
                                                            <li *ngIf="renter_dashboard && item.payment_status == 'Contract'">
                                                                <a (click)="seeInvoice(item.user_gear_desc_id)" href="javascript://;">Tax Invoice</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ng-container>
                                            <pagination [totalItems]="totalItemsRental" [itemsPerPage]="limitRental" [maxSize]="5" [(ngModel)]="currentPageRental" (pageChanged)="pageChangedRental($event)" nextText=">" previousText="<" lastText=">>" firstText="<<"></pagination>
                                        </ng-container>
                                    </div>
                                </div>
                                <!-- START INSTANT MESSENGER -->
                                <div class="row justify-content-center" *ngIf="is_messaging">
                                    <div id="" class="chat_wrap">
                                        <!-- chat left list -->
                                        <div class="chat_left">

                                            <div class="user_contact">
                                                <!-- <button class="refresh_contact" type="button" name="button">Refresh contacts</button> -->
                                                <ul>
                                                    <li (click)="startChatting(contact.renter_id, contact.user_gear_desc_id, contact.user_details[0].user_profile_picture_link, contact.user_details[0].app_user_first_name, contact.order_id, contact.project_name, contact.order_status, contact.chat_id, contact.message_type, contact.sender_id)" class="contact" [ngClass]="[contact.chat_id == current_chat_id ? 'active_chat' : '']" *ngFor="let contact of message_contact_list">
                                                        <!-- <div class="wrap" (click)="startChatting(contact.renter_id, contact.user_gear_desc_id)"> -->
                                                        <div class="wrap">
                                                            <!-- class away, online, busy -->
                                                            <span class="unread-messages" *ngIf="contact.unseen_message > '0'">
                                                                <ng-container>{{contact.unseen_message}}</ng-container>
                                                            </span>

                                                            <img src="{{contact.user_details[0].user_profile_picture_link}}" alt="{{contact.user_details[0].app_user_first_name}}" />
                                                            <div class="meta">
                                                                <p class="name">
                                                                    {{contact.user_details[0].app_user_first_name}}</p>
                                                                <p class="preview">{{contact.project_name}}</p>
                                                                <div class="unread-messages" *ngIf="contact.unseen_message > '0'">
                                                                    <ng-container>{{contact.unseen_message}}
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- chat right list -->
                                        <div class="chat_right">
                                            <div class="contact-profile">
                                                <img src="{{current_chat_profile_pics}}" alt="{{current_chat_name}}" />
                                                <p>{{current_chat_name}}</p>
                                                <p style="font-weight: normal">{{current_chat_project_name}}</p>
                                            </div>
                                            <div #scrollMe class="messages_">
                                                <ul *ngIf="is_msg_loaded">
                                                    <li *ngFor="let chat of current_chat_messages" [ngClass]="[chat.sender_id == app_user_id ? 'replies' : 'sent']">
                                                        <img *ngIf="chat.sender_details.user_profile_picture_link" [src]="chat.sender_details.user_profile_picture_link" alt="" />
                                                        <img *ngIf="!chat.sender_details.user_profile_picture_link" [src]="default_profile_pic_link" alt="" />
                                                        <!-- <img *ngIf="chat.sender_id == app_user_id" src="{{chat.sender_details.user_profile_picture_link}}" alt="" /> -->
                                                        <!-- <img *ngIf="chat.sender_id != app_user_id" src="{{chat.sender_details.user_profile_picture_link}}" alt="" /> -->
                                                        <p>
                                                            {{chat.message}}
                                                            <!-- <span>1:06 am 09.17.2018</span> -->
                                                            <span>{{ chat.create_date | date}}</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- chat messages send button -->
                                            <div class="message-input" *ngIf="isChattingAvailable">
                                                <div class="wrap">
                                                    <input type="text" placeholder="Write your message..." name="message" [(ngModel)]="message" (keydown)="sendMessageOnKeyDown($event)" />
                                                    <button class="submit" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="chat_closed" *ngIf="!isChattingAvailable">
                                                <h3>This chat is closed</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END INSTANT MESSENGER -->
                                <!-- START MANAGE LISTINGS SELECTION -->
                            </div>
                            <div class="tab-pane" id="tab_default_2">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="listing">
                                            <label class="check ">
                                                <span *ngIf="is_any_item_checked">{{no_of_manage_list_item_checked}}
                                                    Listing Selected</span>
                                                <span *ngIf="!is_any_item_checked">Select All Listings</span>
                                                <input type="checkbox" name="is_name" (change)="selectDeselectAll($event)">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="search_rental search_rentalnew">
                                            <div class="all_btns">
                                                <button type="button" [disabled]="!is_any_item_checked" class="btn btn-secondary category-btn calander_btn"> <input name="date" class="input100 input1000" [owlDateTime]="dt5" (dateTimeInput)="emitValue()" [(ngModel)]="date" [selectMode]="'range'" [min]="minDate" [owlDateTimeTrigger]="dt5" placeholder="New unavailable date">
                                                    <owl-date-time (afterPickerClosed)="afterCloseCalender()" [pickerType]="'calendar'" [pickerMode]="'popup'" #dt5>
                                                    </owl-date-time>
                                                </button>
                                                <button type="button" [disabled]="!is_any_item_checked" class="btn btn-secondary category-btn" data-toggle="modal" data-target="#deactivatemodal">Make Private</button>
                                                <button type="button" [disabled]="!is_any_item_checked" class="btn btn-secondary category-btn" data-toggle="modal" data-target="#makepublicmodal">Make Public</button>
                                                <button type="button" [disabled]="!is_any_item_checked" data-toggle="modal" data-target="#address" class="btn btn-secondary category-btn">Change address</button>
                                                <button type="button" [disabled]="!is_any_item_checked" class="btn btn-secondary category-btn" data-toggle="modal" data-target="#deletemodal">Delete</button>


                                            </div>
                                            <select name="button_dropdown" (change)="select_public_private_all_listing($event)">
                                                <option value="all">All</option>
                                                <option value="public">Public</option>
                                                <option value="private">Private</option>
                                            </select>

                                            <select name="button_dropdown" (change)="onChange($event.target.value)">
                                                <option value="25" selected="selected">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="all">All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--  START MOBILE VERSION OF MANAGE LISTINGS -->
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12 hidden-md hidden-sm hidden-lg Manage_Border">
                                        <div class="table-responsive points_table1">
                                            <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-hover">
                                                <tbody class="new_panel1">

                                                    <tr *ngFor="let manage_item of manage_list_data">
                                                        <td style="vertical-align: top; padding:0px" width="50px">
                                                            <label class="check ">
                                                                <input type="checkbox" checked="checked" name="is_name" [checked]="manage_item.is_selected" (change)="selectDeselectItem($event, manage_item.user_gear_desc_id)">
                                                                <span class="checkmark checkmark1"></span>
                                                            </label>
                                                        </td>
                                                        <td class="manage-details">
                                                            <p class="manage-gearname">{{manage_item.gear_name}}</p>
                                                            <p class="value margin_new">
                                                                ${{manage_item.per_day_cost_aud_inc_gst}} per day</p>
                                                            <p class="value margin_new">
                                                                ${{manage_item.per_weekend_cost_aud_inc_gst}} per week
                                                            </p>
                                                            <!-- <p class="margin_new">111 Address St,My City,State,900</p> -->
                                                            <p class="manage_address" *ngFor="let address of manage_item.address">
                                                                {{address.suburb_name}}, {{address.ks_state_name}}</p>
                                                            <!-- <p class="margin_new">111 Address St,My City,State,900</p> -->

                                                            <p>
                                                                <button *ngIf="manage_item.gear_hide_search_results == 'Y'" type="button" class="btn-pubpriv" style="background-color:green; color: white" (click)="makePublicPrivate(manage_item.user_gear_desc_id, 'N')" data-toggle="tooltip" data-placement="top" title="Make private">PUBLIC</button>
                                                                <button *ngIf="manage_item.gear_hide_search_results == 'N'" type="button" class="btn-pubpriv" style="background-color:red; color: white" (click)="makePublicPrivate(manage_item.user_gear_desc_id, 'Y')" data-toggle="tooltip" data-placement="top" title="Make public">PRIVATE</button>
                                                            </p>
                                                        </td>
                                                        <td style="vertical-align:top;">
                                                            <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                <!-- <li class="active"><a href="#">Available</a></li> -->
                                                                <li><a [routerLink]="['/gear/view-gear/' + manage_item.gear_slug_name]">View
                                                                        listing</a></li>
                                                                <li><a [routerLink]="['/gear/edit-gear/' + manage_item.user_gear_desc_id]">Edit
                                                                        listing</a></li>
                                                                <!-- <li><a href="#">New unavailable date</a></li> -->
                                                                <li><a href="javascript:void(0);" (click)="individualItemDeactivate(manage_item.user_gear_desc_id)" data-toggle="modal" data-target="#deactivatemodal">Make Private</a>
                                                                </li>
                                                                <li><a href="javascript:void(0);" (click)="individualItemDelete(manage_item.user_gear_desc_id)" data-toggle="modal" data-target="#deletemodal">Delete listing</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ng-container>
                                                <pagination [totalItems]="totalItems" [itemsPerPage]="limit" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" nextText=">" previousText="<" lastText=">>" firstText="<<"></pagination>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <!-- START DESKTOP VERSION MANAGE LISTINGS -->
                                    <div class="col-md-12 hidden-xs">
                                        <div class="table-responsive points_table">
                                            <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-hover">
                                                <thead class="new_panel">
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Listing Title</th>
                                                        <th>Cost</th>
                                                        <th>Listing Locations</th>
                                                        <th>Type</th>
                                                        <th>Settings</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="new_panel1">
                                                    <!-- Loop start -->
                                                    <tr *ngFor="let manage_item of manage_list_data">
                                                        <td style="vertical-align: top; padding:0px" width="50px">
                                                            <label class="check ">
                                                                <input type="checkbox" name="is_name" [checked]="manage_item.is_selected" (change)="selectDeselectItem($event, manage_item.user_gear_desc_id)">
                                                                <span class="checkmark checkmark1"></span>
                                                            </label>
                                                        </td>
                                                        <td><img src="{{manage_item.gear_display_image}}" class="image_with"></td>
                                                        <td>{{manage_item.gear_name}}</td>
                                                        <td>
                                                            {{manage_item.per_day_cost_aud_inc_gst | currency}} per day
                                                            <p class="value" *ngIf="manage_item.ks_gear_type_id !='1'">
                                                                {{manage_item.per_weekend_cost_aud_inc_gst | currency}}
                                                                per week</p>
                                                        </td>
                                                        <td>
                                                            <p *ngFor="let address of manage_item.address">
                                                                {{address.suburb_name}}, {{address.ks_state_name}}</p>
                                                            <!-- <p>111 Address St,My City,State,900</p> -->
                                                        </td>
                                                        <td>{{manage_item.gear_category_name}}</td>
                                                        <td>
                                                            <button *ngIf="manage_item.gear_hide_search_results == 'Y'" type="button" class="btn btn-privpub" style="background-color:green; color: white" (click)="makePublicPrivate(manage_item.user_gear_desc_id, 'N')" data-toggle="tooltip" data-placement="top" title="Make private">PUBLIC</button>
                                                            <button *ngIf="manage_item.gear_hide_search_results == 'N'" type="button" class="btn btn-privpub" style="background-color:red; color: white" (click)="makePublicPrivate(manage_item.user_gear_desc_id, 'Y')" data-toggle="tooltip" data-placement="top" title="Make public">PRIVATE</button>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                <!-- <li class="active"><a href="#">Available</a></li> -->
                                                                <li><a [routerLink]="['/gear/view-gear/' + manage_item.gear_slug_name]">View
                                                                        listing</a></li>
                                                                <!-- <li><a [routerLink]="[ '/edit-gear', {{manage_item.user_gear_desc_id}} ]">Edit Listing</a></li> -->
                                                                <li><a [routerLink]="['/gear/edit-gear/' + manage_item.user_gear_desc_id]">Edit
                                                                        Listing</a></li>
                                                                <!-- <li><a href="#">New unavailable date</a></li> -->
                                                                <li><a href="javascript:void(0);" (click)="individualItemDeactivate(manage_item.user_gear_desc_id)" data-toggle="modal" data-target="#deactivatemodal">Make Private</a>
                                                                </li>
                                                                <li><a href="javascript:void(0);" (click)="individualItemDelete(manage_item.user_gear_desc_id)" data-toggle="modal" data-target="#deletemodal">Delete listing</a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <!-- Loop ends -->
                                                </tbody>
                                            </table>
                                            <ng-container>
                                                <pagination [totalItems]="totalItems" [itemsPerPage]="limit" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" nextText=">" previousText="<" lastText=">>" firstText="<<"></pagination>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_default_4">
                                <div class="row">
                                    <div class="Reviews-Container">
                                        <div class="write_reviews">Reviews to Write</div>
                                        <div class="review_templ" *ngFor="let item of reviewsOrderList">
                                            <img class=" img-responsive" [src]="item.user_profile_picture_link" alt="">
                                            <div>
                                                <p>
                                                    <a class="Project-name-review" [routerLink]="[ '/order-summary', item.order_id, 'renter' ]">{{item.project_name}}</a>
                                                </p>
                                                <a class="Review-Details" data-toggle="modal" data-target="#reviewModal" (click)="openGiveReviewModal(item.order_id, item.app_user_id)">Write
                                                    a review</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Review-Response">
                                        <div class="prof-user-listings__heading reviews_sec">
                                            <h2>Reviews ({{reviews_count}})</h2>
                                        </div>
                                        <!-- <div class="text_reviews">Reviews From Renters</div> -->
                                        <div class="text_reviews">Reviews From Renters</div>
                                        <div *ngIf="reviewsByRenter.length == 0">
                                            <p class="noreview"> No Reviews found </p>
                                        </div>
                                        <ng-container *ngFor="let reviewsByOwner of reviewsByRenter">
                                            <div class="reviewWrap" *ngIf="reviewsByOwner.parent_gear_review_id == 0">
                                                <div class="media comment-author">

                                                    <div class="review-response">
                                                        <a class="media-left pull-left flip">
                                                            <img class="img-responsive" [src]="reviewsByOwner.user_profile_picture_link_given_by" alt="">
                                                        </a>
                                                        <div class="media-body">
                                                            <p class="review-project">{{reviewsByOwner.project_name}}
                                                            </p>
                                                            <p class="review-name">
                                                                {{reviewsByOwner.app_user_first_name_given_by}}
                                                                {{reviewsByOwner.app_user_last_name_given_by}}
                                                            </p>
                                                            <p [innerHTML]="reviewsByOwner.cust_gear_review_desc"></p>
                                                            <kit-rating-decimal [currentRate]="reviewsByOwner.star_rating" [disabled]="true"></kit-rating-decimal>

                                                            <br />
                                                            <div class="comment-date">
                                                                {{reviewsByOwner.cust_gear_review_date | date}} </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <div class="replyForm" *ngIf="!reviewsByOwner.has_reply">
                                                        <form class="row" role="search">
                                                            <div class="col-md-9">
                                                                <div class="form-group write-reviewbox">
                                                                    <textarea rows="3" class="form-control" name="replyReviewText" (keyup)="replyReviewTextKeyUp($event)" placeholder="Write a response..."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 review-submit">
                                                                <button type="submit" class="btn sk-button--size-lg btn-block" (click)="replyToReview(reviewsByOwner.order_id, reviewsByOwner.app_user_id, reviewsByOwner.ks_cust_gear_review_id )">Submit
                                                                    Response</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <ng-container *ngFor="let reply of reviewsByRenterReplies">
                                                        <div class="replyReview" *ngIf="reply.parent_gear_review_id == reviewsByOwner.ks_cust_gear_review_id">
                                                            <div class="media comment-author">
                                                                <a class="media-left pull-left flip">
                                                                    <img class=" img-responsive" [src]="reply.user_profile_picture_link_given_by" alt=""> {{reply.app_user_first_name_given_by}}
                                                                    {{reply.app_user_last_name_given_by}} says
                                                                </a>
                                                                <div class="media-body">
                                                                    <p [innerHTML]="reply.cust_gear_review_desc"></p>
                                                                    <div class="comment-date">
                                                                        {{reply.cust_gear_review_date | date}} </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- Reviews from guest ends here -->
                                        <div class="text_reviews">Reviews From Owners</div>
                                        <div *ngIf="reviewsByOwner.length == 0">
                                            <p class="noreview"> No Reviews found </p>
                                        </div>
                                        <ng-container *ngFor="let reviewsByOwner of reviewsByOwner">
                                            <div class="reviewWrap" *ngIf="reviewsByOwner.parent_gear_review_id == 0">
                                                <div class="media comment-author">

                                                    <div class="review-response">
                                                        <a class="media-left pull-left flip">
                                                            <img class="img-responsive" [src]="reviewsByOwner.user_profile_picture_link_given_by" alt="">
                                                        </a>
                                                        <div class="media-body">
                                                            <p class="review-project">{{reviewsByOwner.project_name}}
                                                            </p>
                                                            <p class="review-name">
                                                                {{reviewsByOwner.app_user_first_name_given_by}}
                                                                {{reviewsByOwner.app_user_last_name_given_by}}
                                                            </p>
                                                            <p [innerHTML]="reviewsByOwner.cust_gear_review_desc"></p>
                                                            <kit-rating-decimal [currentRate]="reviewsByOwner.star_rating" [disabled]="true"></kit-rating-decimal>

                                                            <br />
                                                            <div class="comment-date">
                                                                {{reviewsByOwner.cust_gear_review_date | date}} </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <div class="replyForm" *ngIf="!reviewsByOwner.has_reply">
                                                        <form class="row" role="search">
                                                            <div class="col-md-9">
                                                                <div class="form-group write-reviewbox">
                                                                    <textarea rows="3" class="form-control" name="replyReviewText" (keyup)="replyReviewTextKeyUp($event)" placeholder="Write a response..."></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 review-submit">
                                                                <button type="submit" class="btn sk-button--size-lg btn-block" (click)="replyToReview(reviewsByOwner.order_id, reviewsByOwner.app_user_id, reviewsByOwner.ks_cust_gear_review_id )">Submit
                                                                    Response</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <ng-container *ngFor="let reply of reviewsByOwnerReplies">
                                                        <div class="replyReview" *ngIf="reply.parent_gear_review_id == reviewsByOwner.ks_cust_gear_review_id">
                                                            <div class="media comment-author">
                                                                <a class="media-left pull-left flip">
                                                                    <img class=" img-responsive" [src]="reply.user_profile_picture_link_given_by" alt=""> {{reply.app_user_first_name_given_by}}
                                                                    {{reply.app_user_last_name_given_by}} says
                                                                </a>
                                                                <div class="media-body">
                                                                    <p [innerHTML]="reply.cust_gear_review_desc"></p>
                                                                    <div class="comment-date">
                                                                        {{reply.cust_gear_review_date | date}} </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- Reviews from owners ends here -->
                                    </div>
                                </div>
                            </div>
                            <!--  Reviews end here -->
                            <div class="tab-pane" id="tab_default_5">
                                <div class="row justify-content-center">
                                    <div id="" class="chat_wrap">
                                        <!-- chat left list -->
                                        <div class="chat_left">

                                            <div class="user_contact hidden-xs">
                                                <ul>
                                                    <li (click)="startChatting(contact.renter_id, contact.user_gear_desc_id, contact.user_details[0].user_profile_picture_link, contact.user_details[0].app_user_first_name, contact.order_id, contact.project_name, contact.order_status, contact.chat_id, contact.message_type, contact.sender_id)" class="contact" [ngClass]="[contact.chat_id == current_chat_id ? 'active_chat' : '']" *ngFor="let contact of message_contact_list">
                                                        <div class="wrap">

                                                            <img *ngIf="contact.user_details[0].user_profile_picture_link != null" src="{{contact.user_details[0].user_profile_picture_link}}" alt="{{contact.user_details[0].app_user_first_name}}" />
                                                            <img *ngIf="contact.user_details[0].user_profile_picture_link == null" src="{{default_profile_pic_link}}" alt="{{contact.user_details[0].app_user_first_name}}" />
                                                            <div class="meta">
                                                                <p class="name">
                                                                    {{contact.user_details[0].app_user_first_name}} </p>
                                                                <p class="preview">{{contact.project_name}}</p>
                                                                <p class="hidden">{{contact.chat_id}}</p>
                                                                <div class="unread-messages" *ngIf="contact.unseen_message > '0'">
                                                                    <ng-container>{{contact.unseen_message}}
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- MOBILE VERSION OF USER CONTACT LIST -->
                                            <div class="user_contact hidden-lg hidden-md hidden-sm">
                                                <!-- <button class="refresh_contact" type="button" name="button">Refresh contacts</button> -->






                                                <ul>
                                                    <li (click)="startChatting(contact.renter_id, contact.user_gear_desc_id, contact.user_details[0].user_profile_picture_link, contact.user_details[0].app_user_first_name, contact.order_id, contact.project_name, contact.order_status, contact.chat_id, contact.message_type, contact.sender_id)" class="contact" [ngClass]="[contact.chat_id == current_chat_id ? 'active_chat' : '']" *ngFor="let contact of message_contact_list">
                                                        <!-- <div class="wrap" (click)="startChatting(contact.renter_id, contact.user_gear_desc_id)"> -->
                                                        <div class="wrap">
                                                            <!-- class away, online, busy -->
                                                            <span class="unread-messages" *ngIf="contact.unseen_message > '0'">
                                                                <ng-container>{{contact.unseen_message}}</ng-container>
                                                            </span>
                                                            <!--span class="contact-status online" *ngIf="contact.user_details[0].chat_status == 'Online'"></!--span>
                                                            <span class="contact-status away" *ngIf="contact.user_details[0].chat_status == 'Away'"></span>
                                                            <span class="contact-status busy" *ngIf="contact.user_details[0].chat_status == 'Busy'"></span-->

                                                            <img *ngIf="contact.user_details[0].user_profile_picture_link != null" src="{{contact.user_details[0].user_profile_picture_link}}" alt="{{contact.user_details[0].app_user_first_name}}" />
                                                            <img *ngIf="contact.user_details[0].user_profile_picture_link == null" src="{{default_profile_pic_link}}" alt="{{contact.user_details[0].app_user_first_name}}" />
                                                            <div class="meta">
                                                                <p class="name">
                                                                    {{contact.user_details[0].app_user_first_name}} </p>
                                                                <p class="preview">{{contact.project_name}}</p>
                                                                <!--div class="unread-messages" *ngIf="contact.unseen_message > '0'">
                                                                <ng-container>{{contact.unseen_message}}</ng-container>
                                                            </div-->
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- CHAT RIGHT PROFILE HEADER -->
                                        <div class="chat_right">
                                            <div class="contact-profile">
                                                <!-- <img src="{{current_chat_profile_pics}}" alt="{{current_chat_name}}" />
                                                <p>{{current_chat_name}}</p>
                                                <br>
                                                <p style="font-weight: normal">{{current_chat_project_name}}</p> -->
                                                <div class="contact-image">
                                                    <img src="{{current_chat_profile_pics}}" alt="{{current_chat_name}}" />
                                                </div>

                                                <div class="text">
                                                    <p class="chat-name"> {{current_chat_name}} </p>
                                                    <p class="project-name"> {{current_chat_project_name}} </p>
                                                </div>
                                            </div>

                                            <div #scrollMe class="messages_ desktop">
                                                <ul *ngIf="is_msg_loaded">
                                                    <li *ngFor="let chat of current_chat_messages" [ngClass]="[chat.sender_id == app_user_id ? 'replies' : 'sent']">
                                                        <img class="not_null" *ngIf="chat.sender_details.user_profile_picture_link" [src]="chat.sender_details.user_profile_picture_link" alt="" />
                                                        <img class="this_null" *ngIf="!chat.sender_details.user_profile_picture_link" [src]="default_profile_pic_link" alt="" />
                                                        <!-- <img *ngIf="chat.sender_id == app_user_id" src="{{chat.sender_details.user_profile_picture_link}}" alt="" /> -->
                                                        <!-- <img *ngIf="chat.sender_id != app_user_id" src="{{chat.sender_details.user_profile_picture_link}}" alt="" /> -->
                                                        <p>
                                                            {{chat.message}}
                                                            <!-- <span>1:06 am 09.17.2018</span> -->
                                                            <span>{{ chat.create_date | date}}</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- chat messages send button -->
                                            <div class="message-input" *ngIf="isChattingAvailable">
                                                <div class="wrap usermessage-input">
                                                    <input type="message-inputtext" placeholder="Write your message..." name="message" [(ngModel)]="message" (keydown)="sendMessageOnKeyDown($event)" />
                                                    <button class="submit" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="chat_closed" *ngIf="!isChattingAvailable">
                                                <h3>This chat is closed</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ******************************************************************************-->
                                <!-- **************************** Chat Ends ***************************************-->
                                <!-- ******************************************************************************-->
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal deactivate-->
    <div class="ao-custom modal fade" id="deactivatemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Make Listing(s) private</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please confirm
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-dangerButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary modal-primaryButton" (click)="deactivateItems()" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for making item(s) public -->
    <div class="modal fade" id="makepublicmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Make Listing(s) public</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please confirm
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-dangerButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary modal-primaryButton" (click)="makeItemsPublic()" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirm delete -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Listing(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this listing?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modal-dangerButton" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger modal-primaryButton" (click)="deleteItems()" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- address modal -->
<div id="address" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Change Address</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="address_list" *ngFor="let address of user_address_array">
                    <div class="address_checkbox">
                        <input name="address" type="checkbox" (change)="onChekedAddress($event, address.user_address_id)">
                        <label class="checkbox5" for="1_is_default_address">{{address.street_address_line1}}
                            {{address.street_address_line2}} {{address.route}} {{address.suburb_name}},
                            {{address.ks_state_name}} {{address.postcode}}</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="is_any_item_checked" type="button" class="btn btn-default modal-dangerButton" (click)="deleteAddress()" data-dismiss="modal">Remove Address</button>
                <button *ngIf="is_any_item_checked" type="button" class="btn btn-primary modal-primaryButton" (click)="updateAddress()" data-dismiss="modal">Add Address</button>
            </div>
        </div>
    </div>
</div>
<!------------------------------reference modal start------------------->
<div class="modal fade reference_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="reffrence_text">
                <h3>Write a reference for Alexx Thompson</h3>
                <p>Tell us about how you know Thompson and why they'd be a great renter or owner on kitshare.</p>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="comment" placeholder="Write your reference here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default send_btn pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Review Modal -->
<div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Write a Review</b></h4>
                <button type="button" class="close" #closeSubmitReviewModal data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="text-right">Rating</label>
                        </div>
                        <div class="col-md-9">
                            <!-- <star-rating [starType]="'icon'" [numOfStars]="5" staticColor="ok" [showHalfStars]="true" (starClickChange)="onClickStar($event)"></star-rating> -->
                            <kit-rating-decimal [disabled]="false" (starClickChange)="onClickStar($event)"></kit-rating-decimal>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="text-right">Comment</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <textarea rows="3" name="cust_gear_review_desc" class="form-control" placeholder="Write a review..." [(ngModel)]="cust_gear_review_desc"></textarea>
                            </div>
                            <p>If you have any negative comments, please contact the other party first and try to
                                resolve any issue or disputes as no one likes having a stain next to their name.</p>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="pull-right btn sk-button--size-lg btn-block" (click)="submitReview()">Submit Review</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>