<section class="trust_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
                <div [innerHTML]="content"></div>
            </div>
        </div>
    </div>


</section>