.pagination>li>a{
  margin: 0 5px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.20) 0 5px 8px;
  border-radius: 5px !important;
  border: none;
  z-index: 0 !important;
}

.search-footer{
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FAFBFC;
}

.visible-items{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
