<section class="sign_background login_background">
  <div class="container">
    <div class="col-md-12">
      <form class="sign_up" name="forgot-password" id="panel">
        <h2>Reset Password</h2>

        <div class="group">
            <input name="email" type="email" [(ngModel)]="primary_email_address" required>
            <!-- <span class="highlight"></span>
            <span class="bar"></span> -->
            <label class="input-label">Email</label>
        </div>

        <div class="clearfix"></div>
          <button class="btn resetpass-btn" (click)="submitForm()" type="submit">Submit</button>
          <div class="clearfix"></div>
          <div class="clearfix"></div>

        <div class="group group1">
          <div class="text-center">
            <p>Remember Password?
              <a routerLink="/login" class="text-info m-l-5">
                <b class="link-text">Sign In</b>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
