.add_acc {
    background-color: #005aab!important;
    color: #fff !important;
    padding: 12px 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    float: right;
    font-size: 15px;
    border-radius: 0;
    display: inline-block;
}

p.no_add {
    text-align: center;
    color: #d4d4d4;
    font-size: 2rem;
    margin: 30px 0px;
}

.card.list {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px #cccccca1;
}

.card.list h3 {
    font-size: 1.9rem;
    margin-bottom: 5px;
}

.card.list p {
    font-size: 1.4rem;
    line-height: 19px;
}

.action a {
    display: inline-block;
    font-size: 1.3rem;
    color: #777;
    padding: 5px 12px;
    background: #e8e8e8;
    border-radius: 3px;
    margin: 10px 0px 0px;
}