:host {
  display: flex;
    width: 100%;
    input {
      margin: 0;
      border: 0;
      background: #21232f;
      color: white;
      display: flex;
      text-align: center;
      cursor: pointer;
      border: none !important;
    }
}

.is-disabled {
  pointer-events: none;
}

.trigger {

    .prefix {
      flex: 1 1 auto;
      font-size: 1.5rem !important;
      padding: 9px 15px;
    }
}


@media only screen and (max-width: 480px) {
  .trigger {

      .prefix {
        font-size: 1.15rem !important;
        padding: 11px 15px;
      }
  }

}


