<div class="col-md-12 col-sm-12">
    <div class="renter_owner_buttn">
        <button type="button" class="btn btn_new">Renter</button>
        <button type="button" class="btn btn_new active_btns">Owner</button>
        <select class="form-control" id="sel1">
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="search_rental">
        <div class="btn-group show-on-hover hidden-sm hidden-lg hidden-md Category_full_width_btn">
            <button type="button" class="btn btn-default dropdown-toggle Category_full_width_btn1" data-toggle="dropdown">
        Category <span class="caret"></span>
      </button>
            <ul class="dropdown-menu dropdown-menu_full_width" role="menu">
                <li><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i>All</a></li>
                <li><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i>Active</a></li>
                <li><a href="#"><i class="fa fa-check-square" aria-hidden="true"></i>Completed</a></li>
                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i>Canceled</a></li>
                <li><a href="#"><i class="fa fa-ban" aria-hidden="true"></i>Rejected</a></li>
                <li><a href="#"><i class="fa fa-archive" aria-hidden="true"></i>Archive</a></li>
            </ul>
        </div>


        <div class="btn-group hidden-xs">
            <button type="button" class="btn new active"><span><i class="fa fa-files-o" aria-hidden="true"></i></span>All</button>
            <button type="button" class="btn new"><span><i class="fa fa-bolt" aria-hidden="true"></i></span>Active</button>
            <button type="button" class="btn new"><span><i class="fa fa-check-square" aria-hidden="true"></i></span>Completed</button>
            <button type="button" class="btn new"><span><i class="fa fa-times" aria-hidden="true"></i></span>Canceled</button>
            <button type="button" class="btn new"><span><i class="fa fa-ban" aria-hidden="true"></i></span>Rejected</button>
            <button type="button" class="btn new"><span><i class="fa fa-archive" aria-hidden="true"></i></span>Archive</button>
        </div>
    </div>
</div>



<div class="clearfix"></div>
<!-- Chat screen start -->

<div class="container">
    <div class="row justify-content-center">
        <div id="" class="chat_wrap">

            <!-- chat left list -->
            <div class="chat_left">
                <div class="user_chat_profile">
                    <div class="wrap">
                        <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
                        <p>Mike Ross</p>
                    </div>
                </div>
                <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search contacts..." />
                </div>
                <div class="user_contact">
                    <ul>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status away"></span>
                                <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                                <div class="meta">
                                    <p class="name">Louis Litt</p>
                                    <p class="preview">You just got LITT up, Mike.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact active">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                <div class="meta">
                                    <p class="name">Harvey Specter</p>
                                    <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <span class="contact-status busy"></span>
                                <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
                                <div class="meta">
                                    <p class="name">Rachel Zane</p>
                                    <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                                <div class="meta">
                                    <p class="name">Donna Paulsen</p>
                                    <p class="preview">Mike, I know everything! I'm Donna..</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
                                <div class="meta">
                                    <p class="name">Jessica Pearson</p>
                                    <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
                                <div class="meta">
                                    <p class="name">Harold Gunderson</p>
                                    <p class="preview">Thanks Mike! :)</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
                                <div class="meta">
                                    <p class="name">Daniel Hardman</p>
                                    <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
                                <div class="meta">
                                    <p class="name">Katrina Bennett</p>
                                    <p class="preview">I've sent you the files for the Garrett trial.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
                                <div class="meta">
                                    <p class="name">Charles Forstman</p>
                                    <p class="preview">Mike, this isn't over.</p>
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="wrap">
                                <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
                                <div class="meta">
                                    <p class="name">Jonathan Sidwell</p>
                                    <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- chat right list -->
            <div class="chat_right">
                <div class="contact-profile">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                    <p>Harvey Specter</p>
                </div>
                <div class="messages_">
                    <ul>
                        <li class="sent">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>When you're backed against the wall, break the god damn thing down.
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>Excuses don't win championships.
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="sent">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <p>Oh yeah, did Michael Jordan tell you that?
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>No, I told him that.
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>What are your choices when someone puts a gun to your head?
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="sent">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <p>What are you talking about? You do what they say or they shoot you.
                                <span>1:06 am 09.17.2018</span>
                            </p>
                        </li>
                        <li class="replies">
                            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                            <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.
                                <span>1:06 am 09.17.2018</span>
                            </p>

                        </li>
                    </ul>
                </div>
                <!-- chat messages send button -->
                <div class="message-input">
                    <div class="wrap">
                        <input type="text" placeholder="Write your message..." />
                        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->