.dragdrop-list {
  list-style-type: none;
  padding: 0;
}

.dragdrop-list li {
  display: table-cell;
  padding: 4px;
}

.dragdrop-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
}

.dragdrop-box {
  cursor: move;
  display: flex;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
}

.dragdrop-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.6;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

button {
  margin-right: 4px;
}

.dragdrop-box-placeholder {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list-item {
  display: flex;
  flex-direction: row;
}
