.user_avatar {
  max-width: 55px;
  border: 1px solid white;
  min-width: 55px;
}

:host {
  //margin-left: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notuser {
  display: flex;
  font-size: 14px;
  color: white;
  outline: none;
  li.login {
    margin-right: 20px;
    font-family: system-ui;

  }
}

.notuser li {
  margin-right: 20px;
  outline: none;
  font-family: system-ui;
}

button.mat-menu-item a {
  display: inline;
  padding: 0;
  padding: 0 30px 0 30px;
}

.signup {
  margin-right: 10px !important;
}

.login {
  margin-left: 10px;
}

button.mat-menu-item {
  padding: 0 0px 0px 15px;
}