.modal-title {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}

.Info-Verified {
    color: #5E6C84;
    font-size: 12px;
}

.ID-VerifyType {
    color: #0747A6;
    &:hover {
    color: #0065FF;
    }
}

.modal-primaryButton {
    height: 40px;
    width: 100%;
    background: #0747A6 !important;
    border: none !important;
    &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
    &:hover {
    background-color: #f0f0f0;
    color: white !important;
    }
    &:focus {
    color: white !important;
    }
}