<div class="wrapper">
  <button mat-icon-button>
    <mat-icon class="icon-black">search</mat-icon>
  </button>
  <input type="text" placeholder="I'm looking for..." (keyup)="onKeyUp($event)">
</div>
