:host {
  display: block;
  margin-top: 2rem;
  box-shadow: 1px 3px 4px rgba(0,0,0,0.14);
  position: relative;
  background: #fff;
  border: 1px solid #ccc !important;
}
.PolicyDetails {
padding: 1rem;
max-width: fit-content;
}

.row {
  margin: 0;
}

.cancelBlock {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    width: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    bottom: 0;
    justify-content: space-between;
    button {
      border: none;
    background: #0d77da !important;
    font-size: 1.15rem;
    padding: 0.75rem 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px 0 0 0;
    height: 40px;
    }
    mat-icon  {
      color: #232323;      width: 15px;
      height: 15px;
      font-size: 15px;
      align-self: flex-end;
      border-radius: 50%;

      position: absolute;
      padding: 5px 0px 0px 0px;
      right: -10px;
      top: -10px;
      font-size: 12px;
      color: white;
      cursor: pointer;
      width: 22px;
      height: 22px;
      background-color: black;
      border-radius: 15px;
      text-align: center;
    }
}

span.tag {
  background: #FF5630;
    color: white;
    position: absolute;
    text-justify: center;
    width: 153px;
    top: 0;
    right: 0;
    // padding: 0.5rem 1.25rem;
    padding: 1rem;
    padding-left: 55px;
    // font-size: 0.985rem;
    font-size: 1.15rem;
    height: 40px;
    border-radius: 0 0 0 5px;
}

.wrapper {
  max-width: 100%;
}
