<div class="panel panel-default profile-owner-section margin_top">
    <div class="info">
        <div id="map-canvas">
            <div #gmap style="height:300px; width: 100%"></div>
        </div>
    </div>
</div>
