<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill"><em class="fa fa-star text-warning"></em></span><em class="fa fa-star-o text-warning cursor"></em>
  </span>
</ng-template>

<ngb-rating [(rate)]="currentRate" (rateChange)="onChange()" [starTemplate]="t" [readonly]="disabled" max="5"></ngb-rating>