.dashboard_body {
    padding-top: 30px;
    margin-top: 0;
    background-color: #FAFBFC;
}

.profile-left, .profile-right {
    background-color: #FAFBFC;
}

.container {
    width: 100%;
    padding: 0 10px 0px 10px;
}

.page-info {
    max-width: 1200px;
    margin: auto;
}

.own_info p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
}

.profile_details {
    padding: 5px;
}

.star-rating{
    .to-rate{
        cursor: pointer;
        padding: 0 3px;
    }
    .fa-star-o{
        color: orange;
    }
    .fa-star{
        color: orange;
    }
    .fa-star-half-o{
        color: orange;
    }
    .to-display{
        padding: 0 2px;
    }
}

.rating_profile {
  width: 100%;
  display: block;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.select-Category {
    padding: 0 5px 0 5px;
}

.mobile-profile {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

// RESPONSIVENESS - MOBILE / TABLET //

@media (min-width: 992px) {
        .col-md-4 {
            width: 25%;
        }
        .col-md-8 {
            width: 75%;
        }
}

@media(max-width:991px) {
    .img-responsive {
        object-position: top;
    }
    // .dashboard_body {
    //     margin-top: 70px;
    // }
}    

@media(max-width:767px) {
    .space-4 {
        margin-bottom: 10px;
    }
    .dashboard_body {
        padding-top: 15px;
        margin-top: 0;
    }
}

.prof-user-listings__heading {
    margin: 5px 5px 15px 0;
}

.profession-state {
    color: black;
    font-weight: 700;
    margin: 0;
}

.profile-profession .profile-state {
    font-weight: none;
    font-size: 18px;
    color: red;
}

.No-Reviewblock {
    padding: 0 0 10px 10px;

}

.material-edit {
    font-size: 18px;
    vertical-align: text-bottom;
}

.ProfileEdit-Button {
    color: white;
    width: 100%;
    height: 100%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #0747a6;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 0 15px 0;
    &:hover {
        background: #0065FF;
    }
}

#user-media-container img {
    max-width: fit-content;
    border-radius: 5px;
}